.highlight {
  background-color: #6666ce;
  padding: 7px 7px 7px 10px;
  border: 1px solid #ddd;
  -moz-box-shadow: 3px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);
  box-shadow: 3px 3px rgba(0,0,0,0.1);
  margin: 20px 0 20px 0;
  overflow: scroll;
}

code {
  font-family:'Bitstream Vera Sans Mono','Courier', monospace;
}

.highlight .c { color: #586E75 } /* Comment */
.highlight .err { color: #93A1A1 } /* Error */
.highlight .g { color: #93A1A1 } /* Generic */
.highlight .k { color: #859900 } /* Keyword */
.highlight .l { color: #93A1A1 } /* Literal */
.highlight .n { color: #93A1A1 } /* Name */
.highlight .o { color: #859900 } /* Operator */
.highlight .x { color: #CB4B16 } /* Other */
.highlight .p { color: #93A1A1 } /* Punctuation */
.highlight .cm { color: #586E75 } /* Comment.Multiline */
.highlight .cp { color: #859900 } /* Comment.Preproc */
.highlight .c1 { color: #586E75 } /* Comment.Single */
.highlight .cs { color: #859900 } /* Comment.Special */
.highlight .gd { color: #2AA198 } /* Generic.Deleted */
.highlight .ge { color: #93A1A1; font-style: italic } /* Generic.Emph */
.highlight .gr { color: #DC322F } /* Generic.Error */
.highlight .gh { color: #CB4B16 } /* Generic.Heading */
.highlight .gi { color: #859900 } /* Generic.Inserted */
.highlight .go { color: #93A1A1 } /* Generic.Output */
.highlight .gp { color: #93A1A1 } /* Generic.Prompt */
.highlight .gs { color: #93A1A1; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #CB4B16 } /* Generic.Subheading */
.highlight .gt { color: #93A1A1 } /* Generic.Traceback */
.highlight .kc { color: #CB4B16 } /* Keyword.Constant */
.highlight .kd { color: #268BD2 } /* Keyword.Declaration */
.highlight .kn { color: #859900 } /* Keyword.Namespace */
.highlight .kp { color: #859900 } /* Keyword.Pseudo */
.highlight .kr { color: #268BD2 } /* Keyword.Reserved */
.highlight .kt { color: #DC322F } /* Keyword.Type */
.highlight .ld { color: #93A1A1 } /* Literal.Date */
.highlight .m { color: #2AA198 } /* Literal.Number */
.highlight .s { color: #2AA198 } /* Literal.String */
.highlight .na { color: #93A1A1 } /* Name.Attribute */
.highlight .nb { color: #B58900 } /* Name.Builtin */
.highlight .nc { color: #268BD2 } /* Name.Class */
.highlight .no { color: #CB4B16 } /* Name.Constant */
.highlight .nd { color: #268BD2 } /* Name.Decorator */
.highlight .ni { color: #CB4B16 } /* Name.Entity */
.highlight .ne { color: #CB4B16 } /* Name.Exception */
.highlight .nf { color: #268BD2 } /* Name.Function */
.highlight .nl { color: #93A1A1 } /* Name.Label */
.highlight .nn { color: #93A1A1 } /* Name.Namespace */
.highlight .nx { color: #555 } /* Name.Other */
.highlight .py { color: #93A1A1 } /* Name.Property */
.highlight .nt { color: #268BD2 } /* Name.Tag */
.highlight .nv { color: #268BD2 } /* Name.Variable */
.highlight .ow { color: #859900 } /* Operator.Word */
.highlight .w { color: #93A1A1 } /* Text.Whitespace */
.highlight .mf { color: #2AA198 } /* Literal.Number.Float */
.highlight .mh { color: #2AA198 } /* Literal.Number.Hex */
.highlight .mi { color: #2AA198 } /* Literal.Number.Integer */
.highlight .mo { color: #2AA198 } /* Literal.Number.Oct */
.highlight .sb { color: #586E75 } /* Literal.String.Backtick */
.highlight .sc { color: #2AA198 } /* Literal.String.Char */
.highlight .sd { color: #93A1A1 } /* Literal.String.Doc */
.highlight .s2 { color: #2AA198 } /* Literal.String.Double */
.highlight .se { color: #CB4B16 } /* Literal.String.Escape */
.highlight .sh { color: #93A1A1 } /* Literal.String.Heredoc */
.highlight .si { color: #2AA198 } /* Literal.String.Interpol */
.highlight .sx { color: #2AA198 } /* Literal.String.Other */
.highlight .sr { color: #DC322F } /* Literal.String.Regex */
.highlight .s1 { color: #2AA198 } /* Literal.String.Single */
.highlight .ss { color: #2AA198 } /* Literal.String.Symbol */
.highlight .bp { color: #268BD2 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #268BD2 } /* Name.Variable.Class */
.highlight .vg { color: #268BD2 } /* Name.Variable.Global */
.highlight .vi { color: #268BD2 } /* Name.Variable.Instance */
.highlight .il { color: #2AA198 } /* Literal.Number.Integer.Long */

.highlight2 {
  background-color: #e0e0e0;
  padding: 7px 7px 7px 10px;
  border: 1px solid #ddd;
  -moz-box-shadow: 3px 3px rgba(0,0,0,0.1);
  -webkit-box-shadow: 3px 3px rgba(0,0,0,0.1);
  box-shadow: 3px 3px rgba(0,0,0,0.1);
  margin: 20px 0 20px 0;
  overflow: scroll;
}
.highlight2  { background: #f5f5f5; color: #151515 }
.highlight2 .c { color: #b0b0b0 } /* Comment */
.highlight2 .err { color: #ac4142 } /* Error */
.highlight2 .k { color: #aa759f } /* Keyword */
.highlight2 .l { color: #d28445 } /* Literal */
.highlight2 .n { color: #151515 } /* Name */
.highlight2 .o { color: #75b5aa } /* Operator */
.highlight2 .p { color: #151515 } /* Punctuation */
.highlight2 .cm { color: #b0b0b0 } /* Comment.Multiline */
.highlight2 .cp { color: #b0b0b0 } /* Comment.Preproc */
.highlight2 .c1 { color: #b0b0b0 } /* Comment.Single */
.highlight2 .cs { color: #b0b0b0 } /* Comment.Special */
.highlight2 .gd { color: #ac4142 } /* Generic.Deleted */
.highlight2 .ge { font-style: italic } /* Generic.Emph */
.highlight2 .gh { color: #151515; font-weight: bold } /* Generic.Heading */
.highlight2 .gi { color: #90a959 } /* Generic.Inserted */
.highlight2 .gp { color: #b0b0b0; font-weight: bold } /* Generic.Prompt */
.highlight2 .gs { font-weight: bold } /* Generic.Strong */
.highlight2 .gu { color: #75b5aa; font-weight: bold } /* Generic.Subheading */
.highlight2 .kc { color: #aa759f } /* Keyword.Constant */
.highlight2 .kd { color: #aa759f } /* Keyword.Declaration */
.highlight2 .kn { color: #75b5aa } /* Keyword.Namespace */
.highlight2 .kp { color: #aa759f } /* Keyword.Pseudo */
.highlight2 .kr { color: #aa759f } /* Keyword.Reserved */
.highlight2 .kt { color: #f4bf75 } /* Keyword.Type */
.highlight2 .ld { color: #90a959 } /* Literal.Date */
.highlight2 .m { color: #d28445 } /* Literal.Number */
.highlight2 .s { color: #90a959 } /* Literal.String */
.highlight2 .na { color: #6a9fb5 } /* Name.Attribute */
.highlight2 .nb { color: #151515 } /* Name.Builtin */
.highlight2 .nc { color: #f4bf75 } /* Name.Class */
.highlight2 .no { color: #ac4142 } /* Name.Constant */
.highlight2 .nd { color: #75b5aa } /* Name.Decorator */
.highlight2 .ni { color: #151515 } /* Name.Entity */
.highlight2 .ne { color: #ac4142 } /* Name.Exception */
.highlight2 .nf { color: #6a9fb5 } /* Name.Function */
.highlight2 .nl { color: #151515 } /* Name.Label */
.highlight2 .nn { color: #f4bf75 } /* Name.Namespace */
.highlight2 .nx { color: #6a9fb5 } /* Name.Other */
.highlight2 .py { color: #151515 } /* Name.Property */
.highlight2 .nt { color: #75b5aa } /* Name.Tag */
.highlight2 .nv { color: #ac4142 } /* Name.Variable */
.highlight2 .ow { color: #75b5aa } /* Operator.Word */
.highlight2 .w { color: #151515 } /* Text.Whitespace */
.highlight2 .mf { color: #d28445 } /* Literal.Number.Float */
.highlight2 .mh { color: #d28445 } /* Literal.Number.Hex */
.highlight2 .mi { color: #d28445 } /* Literal.Number.Integer */
.highlight2 .mo { color: #d28445 } /* Literal.Number.Oct */
.highlight2 .sb { color: #90a959 } /* Literal.String.Backtick */
.highlight2 .sc { color: #151515 } /* Literal.String.Char */
.highlight2 .sd { color: #b0b0b0 } /* Literal.String.Doc */
.highlight2 .s2 { color: #90a959 } /* Literal.String.Double */
.highlight2 .se { color: #d28445 } /* Literal.String.Escape */
.highlight2 .sh { color: #90a959 } /* Literal.String.Heredoc */
.highlight2 .si { color: #d28445 } /* Literal.String.Interpol */
.highlight2 .sx { color: #90a959 } /* Literal.String.Other */
.highlight2 .sr { color: #90a959 } /* Literal.String.Regex */
.highlight2 .s1 { color: #90a959 } /* Literal.String.Single */
.highlight2 .ss { color: #90a959 } /* Literal.String.Symbol */
.highlight2 .bp { color: #151515 } /* Name.Builtin.Pseudo */
.highlight2 .vc { color: #ac4142 } /* Name.Variable.Class */
.highlight2 .vg { color: #ac4142 } /* Name.Variable.Global */
.highlight2 .vi { color: #ac4142 } /* Name.Variable.Instance */
.highlight2 .il { color: #d28445 } /* Literal.Number.Integer.Long */